@media (max-width: 880px) {
	#popUpBox{
		width: 100%;
		height: 100%;
	}
	#popUpBox h1{
	font-size: 2em;
	margin: 40px 0 0 20px;
	width: 90%;
	line-height: 1.25em;
	}
	#popUpBox h1:nth-of-type(2){
		font-size: 4em;
		line-height: .875em;
		margin-top: 10px;	
	}
	#popUpBox h2{
		margin-top: 20px;
	}
	#continue{
		margin-top: 50px;
	}
  main {
  width: 100%;
  height: 100%;
	border: none;
	margin: -10px 0 0 -10px;
	padding: 10px;
	opacity:0.9;
  }
  .headerimgslist{
  	margin-top: 10px;
  	clear: both;
  }
  h1{
  width: 100%;
  font-size: 5em;
  margin-top: 60px;
  }
  h2{
  font-size: .75em;
  margin-top: 20px;
  }
  h3{
  font-size: .75em;
  width: 80%;
  margin: 0 30px;
  opacity: 1;
  }
  #h3one{
  	margin-top: 25px;
  }
  span{
  	font-size: 2em;
  	line-height: 1.25em;
  	color: gold;
  	opacity: 1;
  }
  .guess, .hide{
  	display: block;
  	margin: 20px auto;
  }
  #submit, #reload{
   	display: block;
  	margin: 40px auto;
  	float: none;	
  }
  #submit{
  	margin-top: 80px;
  }
  .guess:focus{
  	display: block;
  	margin: 10px auto;
  }
}